<h1><%= @park.name %></h1>
  
 <!--  <div class="park">
    <p> <%#= image_tag @park.image.url %> </p>
  </div> -->

  <p><strong>Address: </strong><%= @park.street_address %></p><br/>

  <a class='btn' href='/dogs/new'>Add Your Dog</a><br/><br/>

<!-- <h3>Dogs who roam here</h>-->
<!--shows all dogs with this park_id as their home park
  <%# @park.dogs.each do |dog| %>
    <p><%#= link_to(dog.name, dog_path(dog)) %> </p>
    <p><%#= image_tag dog.image %></p>
  <%# end %> -->