/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

body {
  background-color: #8B8378;
}

header {
  background-color: #8B8378;
}

.navbar, navbar-collapse > ul > li > a {
  font-size: 18px;
}

.navbar, navbar-custom {
  margin: 12px;
  border-radius: 15px;
  background-color: #7AC5CD;
}

.icon-bar {
  background-color: grey;
}

.container-footer {
  background-color: #C1CDCD;
  height: 40px;
  text-align: right;
  padding-right: 20px;
  padding-top: 10px;
  margin: 12px;
  border-radius: 15px;
}

.container-footer > footer > a {
  color: grey;
  padding: 15px;
  font-size: 15px;
}

 .HolyGrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.HolyGrail-body {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.HolyGrail-content {
  flex: 1;
  background-color: #EBECE4;
  margin: 0px 15px;
  padding-bottom: 15px;
  border-radius: 15px;
  text-align: center;
}

.HolyGrail-sidebar-left {
  /* put the nav on the left */
  order: -1;
  background-color: #FF6A6A;
  margin: 0px 15px 15px 15px;
  border-radius: 15px;
   /* 12em is the width of the columns */
  flex: 0 0 4em;
}

.HolyGrail-sidebar-right {
  background-color: violet;
  margin: 15px 15px 0px 15px;
  border-radius: 10px;
   /* 6em is the width of the columns */
  flex: 0 0 12em;
}

.HolyGrail-sidebar-right > img {
  width: 120px;
}

.HolyGrail-sidebar-right, .HolyGrail-sidebar-left {
  padding: 8px 0px 8px 8px;
  background-image: url('wavegrid.png')
}

/*Parks Search Page*/
.yelp-results {
  flex-wrap: wrap;
}

.yelp-photo {
 text-align: center;
}

.yelp-photo > img {
  border-radius: 50px;
}

/*landing page*/
.landing-img > img {
  width: 350px;
  padding-top: 30px;
}

.landing-buttons {
  padding-top: 30px;
}


@media (min-width: 768px) {
  .HolyGrail-body {
    flex-direction: row;
  }
  .HolyGrail-content {
    
  }
  .HolyGrail-sidebar-left, .HolyGrail-sidebar-right {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
    text-align: center;
  } 
  .HolyGrail-sidebar-left {
    margin: 0px 0 0px 10px;
  }
  .HolyGrail-sidebar-left ul > li > a {
  color: grey;
  font-size: 20px;
  }
  .HolyGrail-sidebar-left ul > li > a:hover {
    background-color: #FF6A6A;
    font-weight: bold;
    font-style: italic;
  }
  .HolyGrail-sidebar-right > img {
  width: 120px;
  margin: 35px 0px 35px 0px;
  }
  .HolyGrail-sidebar-right {
    margin: 0px 10px 0px 0px;
  }
}

