/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

body {
  background-color: #838B8B;
}

header {
  background-color:  #838B8B;
}

.navbar, navbar-custom {
  margin: 12px;
  border-radius: 15px;
  background-color: lightblue
}

/*.footer {
  background-color: lightgreen;
  height: 40px;
  text-align: right;
  padding-right: 20px;
  padding-top: 10px;
  margin: 8px;
  border-radius: 15px;
}*/

.container-footer {
  background-color: lightgreen;
  height: 40px;
  text-align: right;
  padding-right: 20px;
  padding-top: 10px;
  margin: 8px;
  border-radius: 15px;
}

.footer > a {
  color: white;

}

 .HolyGrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.HolyGrail-body {
  display: flex;
  flex: 1;
  text-align: center;
}

.HolyGrail-content {
  background-color: beige;
  text-align: center;
  margin: 0px 15px;
  border-radius: 15px;
  flex: 1;
  text-align: center;

}

.HolyGrail-nav {
  /* put the nav on the left */
  order: -1;
  background-color: #FF6A6A;
  margin: 0px 0 0px 10px;
  border-radius: 15px;
}

.HolyGrail-ads {
  background-color: violet;
  margin: 0px 10px 0px 0px;
  border-radius: 15px;
}

.HolyGrail-nav, .HolyGrail-ads {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
  }

@media (min-width: 768px) {
  .HolyGrail-body {
    flex-direction: row;
  }
}

/*parks#search*/
.yelp-results {
  flex-wrap: wrap;
  text-align: left;
  align-items: baseline;
}

.yelp-photo {
  text-align: right;
}


