/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

body {
  background-color: #838B8B;
}

header {
  background-color:  #838B8B;
}

.navbar, navbar-custom {
  margin: 12px;
  border-radius: 15px;
  background-color: lightblue
}

.container-footer {
  background-color: lightgreen;
  height: 40px;
  text-align: right;
  padding-right: 20px;
  padding-top: 10px;
  margin: 12px;
  border-radius: 15px;
}

.container-footer > footer > a {
  color: white;
  padding: 15px;
}

 .HolyGrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.HolyGrail-body {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.HolyGrail-content {
  background-color: beige;
  flex: 1;
  margin: 0px 15px;
  padding-bottom: 15px;
  border-radius: 5px;
  text-align: center;
}

.HolyGrail-nav {
  /* put the nav on the left */
  order: -1;
  background-color: #FF6A6A;
  margin: 0px 15px 15px 15px;
  border-radius: 15px;
   /* 12em is the width of the columns */
  flex: 0 0 6em;
}

.HolyGrail-ads {
  background-color: violet;
  margin: 15px 15px 0px 15px;
  border-radius: 10px;
   /* 6em is the width of the columns */
  flex: 0 0 12em;
}

.HolyGrail-nav, .HolyGrail-ads {
  padding: 8px 0px 8px 8px;
}

/*Parks Search Page*/
.yelp-results {
  flex-wrap: wrap;
}

.yelp-photo {
 text-align: center;
}

.yelp-photo > img {
  border-radius: 50px;
}

@media (min-width: 768px) {
  .HolyGrail-body {
    flex-direction: row;
  }
  .HolyGrail-content {
    
  }
  .HolyGrail-nav, .HolyGrail-ads {
    /* 12em is the width of the columns */
    flex: 0 0 12em;
    text-align: center;
  }
  .HolyGrail-nav {
    margin: 0px 0 0px 10px;
  }
  .HolyGrail-ads {
    margin: 0px 10px 0px 0px;
  }
}

