<h1>About Us</h1><br /><br />

<div class='about'>
<p>dog<em>E</em>dating is the best way to break the ice with that cute dog owner from the dog park you've been eyeing.</p>
<p>Search your favorite dog parks and find the dogs you've seen frolicking in the park.</p>
<p>Sned a message from the dog's page to contact the owner!</p>
<p>Perhaps some puppy love will bloom.</p>
<p>Or at least your pups can have a play date!</p><br /><br /><br /><br /><br />

<p>Happy Tails to you, until we meet again!</p><br /><br /><br /><br /><br />

<p>This is the final project completed by Blair Cuny for General Assembly's Web Development Imersive.</p>
<p>June, 2014</p>

</div>