<h3>Welcome to <em>dogEdating</em>!</h3>

<div class='landing-img'>
 <%= image_tag('landing.png') %>
 </div>

<div class='landing-buttons'>
  <% if !current_user %>
    <a class='btn' href='/signup'>Sign Up</a>
    <a class='btn' href='/signin'>Sign In</a>
  <% end %>

  <% if current_user %>
    <a class='btn' href='/parks'>All Parks</a>
    <a class='btn' href='/dogs/new'>Add Your Dog</a><br /><br />
  <% end %>
</div>